<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Remove these permissions for Play Store builds (production flavor) -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>

